<!DOCTYPE html> 

<html> 
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head> 
    <body> 
        <div class="main-content">
            {{>header}}
             <div class="content-section">
             <h2>Kegunaan halaman ini</h2>
            <p>
                Website ini dibuat sebagai media untuk memberikan update informasi cuaca terbaru kepada pengunjung. 
                Di dalamnya juga terdapat CV singkat dari pembuat.
            </p>
            <p>
                Website ini memudahkan pengunjung untuk mengakses informasi cuaca terbaru dan mengenal CV singkat dari pembuatnya. 
                Selain sebagai sumber informasi, website ini juga memiliki nilai edukatif dan hiburan yang menarik bagi pengunjung.
            </p>
            <h2>API yang digunakan pada aplikasi ini</h2>
            <div class="image-container">
                <img src="/img/weatherstack_logo_footer.png" width="400px">
            </div>
            <p>
                Aplikasi ini menggunakan Weatherstack API, yang dirancang untuk menyediakan data cuaca secara real-time, historis, dan prediksi untuk berbagai lokasi di seluruh dunia.
                 API ini mencakup informasi cuaca yang komprehensif di hampir seluruh belahan dunia dan menawarkan layanan dengan biaya terjangkau, sehingga dapat diakses oleh berbagai kalangan, 
                 mulai dari perusahaan besar, usaha kecil, pengembang, pekerja lepas, hingga individu. 
                 Berkat kemudahan integrasinya dan keandalan data yang disajikan, Weatherstack kini telah menjadi salah satu penyedia API cuaca berbasis REST yang paling diminati di pasar.
            </p>
        </div>
        {{>footer}} 
    </body> 

<footer>
    
</footer>
</html> 