<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{judul}}</title>
    <link rel="icon" href="/img/logoW.png">
    <link rel="stylesheet" href="/css/styles-tentang.css"> <!-- Menghubungkan dengan CSS baru -->
</head>
<body>
    <div class="background-image"></div>
    <div class="main-content">
        {{>header}} <!-- Menyertakan header -->
        <img src="/img/fotowulan.jpg" alt="Foto pengembang" class="profile-pic">
        
         <p>"Universitas Negeri Padang</p>
        <p>"Teknik Informatika</p>
        <p> Created by <strong>{{nama}}</strong></p>
    </div>
    <script src="/js/app.js"></script>
</body>
</html>
