<!DOCTYPE html>

<html>
    <head>
        <title>Who Am I?</title>
        <link rel="icon" href="/img/weather-icon.png">
        <link rel="stylesheet" href="/css/style1.css">
    </head>
    <body>
        {{>header}}
        <div class="main-content-tentang">
            <img class="profile" src="/img/wulan1.jpg">
            <div class="text">
                <h2>WULAN AINIYYAH PUTERI</h2>
                <p>
                    Mahasiswa semester 5 jenjang studi S1 Teknik Informatika dari Universitas Negeri Padang. 
                </p>
                <br>
            </div>
        </div>
        <div class="isian-bawah">
            <div class="biodata-pendidikan">

            <h2>BIODATA</h2>
            <li>
                Nama &nbsp;&nbsp;&nbsp; : Wulan Ainiyyah Puteri
            </li>
            <br>
            <li>
                TTL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Kalianda, 04 Juni 2003
            </li>
            <br>
            <li>
                Alamat &nbsp : Kota Padang 
            </li>
            <br>
            <h2>PENDIDIKAN</h2>
            <li>
                <b>UNIVERSITAS NEGERI PADANG</b>
            </li>
            <p>
                S1 - Teknik Informatika (2022-Sekarang)
            </p>
            </p>
            </div>
            <div class="keterampilan">
            <h2>KETERAMPILAN</h2>
                <li><b>Programming Languages</b></li>
                    <p>
                        C, C++, Python
                    </p>

                <li><b>Web Development</b></li>
                    <p>
                       HTML, CSS, Node.js
                    </p>
                <li><b>Database Management</b></li>
                    <p>
                        MySQL
            </p>
          </div>

        </div>
        {{>footer}}
    </body>

</html>
